<div>
  <app-calendar-header
    (dateChanged)="onDateChanged($event)"
  ></app-calendar-header>
  <div [ngSwitch]="selectedView">
    <mwl-calendar-month-view
      *ngSwitchCase="views.VIEW_MONTH"
      [events]="events"
      [viewDate]="viewDate"
      (dayClicked)="onDayClickedInMonthView($event)"
    >
    </mwl-calendar-month-view>
    <iq-calendar-week-hours-view
      *ngSwitchCase="views.VIEW_WEEK"
      [events]="events"
      [viewDate]="viewDate"
    ></iq-calendar-week-hours-view>
    <mwl-calendar-day-view
      *ngSwitchCase="views.VIEW_DAY"
      [events]="events"
      [viewDate]="viewDate"
    ></mwl-calendar-day-view>
  </div>
</div>
